<!doctype html>

<html>
<head>
  <title>Completed</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css"/>  
</head>

<body>
<div class="container" align="center" style="padding-top:50px">
	<div style="border: 1px solid rgb(200,200,200); background-color:rgba(255, 255, 255, 0.8); border-radius:15px; 
			padding:5px; max-width: 550px;" >
 		<h1 style="margin-bottom: 20px">Your ticket is submitted!</h1>
 		<h2 style="margin-bottom: 20px">({{phone}})</h2>
 		<img src="/img/rafflebox.gif" alt="">
 	</div>
</div>

</body>
</html>
