<!doctype html>

<html>
<head>
  <title>Confirmed</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css"/>  
</head>

<body>
<div class="container">
 <a href="{{guestUrl}}">{{guestUrl}}</a>
 <a href="{{hostUrl}}">{{hostUrl}}</a>
</div>

</body>
</html>
