<!doctype html>

<html>
<head>
	<title>PickMe</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.css"/>  
</head>

<body>
<div class="container">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="/createEvent" method="post">
          <fieldset>
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" color="white" for="name">Event Name</label>
              <div class="col-md-9">
                <input id="eventName" name="eventName" type="text" placeholder="Event Name" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="password">Password</label>
              <div class="col-md-9">
                <input id="eventPassword" name="eventPassword" type="password" placeholder="EventPassword" class="form-control">
              </div>
            </div>
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>

</body>
</html>
